.btn {
    background-color: var(--color-yellow-strong);
    color: var(--color-black);
    font-weight: 600;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;

    &__betslip {
        background-color: var(--color-yellow-dark);
    }

    &__telefono {
        margin-top: 0.5rem;
        &__icon-telefono {
            width: 14px;
            height: 22px;
        }
        display: flex;
        &__telefono__number {
            padding: 0 0.5rem;
            color: var(--color-yellow-strong);
        }
    }

}

// --color-black			: #000;
// 	--color-gray			: #242323;
// 	--color-white			: #fff;
// 	--color-yellow			: #ffcf3f;
// 	--color-yellow-lite		: #fedb73;
// 	--color-yellow-strong	: #ffcf3f;
// 	--color-yellow-dark		: #ffcf3f;
// 	--linear-gradient-gold  : linear-gradient