.btn {
    background-color: var(--color-yellow-strong);
    color: var(--color-black);
    font-weight: 600;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;

    &__betslip {
        background-color: var(--color-yellow-dark);
    }

    &__telefono {
        margin-top: 0.5rem;
        &__icon-telefono {
            width: 14px;
            height: 22px;
        }
        display: flex;
        &__telefono__number {
            padding: 0 0.5rem;
            color: var(--color-yellow-strong);
        }
    }

    &__caballos{
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 0.5rem 1.5rem;
        font-size: 18px;
        font-weight: 900;
        background: var(--linear-gradient-gold);
        &:hover{
            color: var(--color-gray);
            text-decoration: none;
            background: linear-gradient(180deg, rgba(180,126,16,1) 0%, rgba(244,225,143,1) 20%, rgba(255,242,165,1) 50%, rgba(241,220,136,1) 80%, rgba(180,126,16,1) 100%);
        }
        @media (min-width: 960px) {
            font-size: 24px;
        }
    }

}
