.live-wagering{
    background-color: var(--color-gray);
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 7rem;
        &__h1{
            color: var(--color-yellow-strong);
            text-align: center;
            font-weight: 100;
            font-size: 40px;
        }
    }
}