.deportes{
    background-color: var(--color-gray);
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        iframe{
            margin-top: -1.5rem;
            width: 100%;
            min-height: 800px;
            border: none;
        }
    }
}
