extends ../config/template
append config
	-currentPage		= "Live Bettinng"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page live bettings MoneyBet'
block main-header
block main-container
	include ../components/page-apuesta-vivo
	include ../components/providers
block main-footer
block scripts 