extends ../config/template
append config
	-currentPage		= "Self-Exclusion"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page Self-Exclusion MoneyBet'
block main-header
block main-container
	include ../components/link-autoexclusion
block main-footer
block scripts 