extends ../config/template
append config
	-currentPage		= "Banking"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page banking MoneyBet'
block main-header
block main-container
	include ../components/page-banca
block main-footer
block scripts 