extends ../config/template
append config
	-currentPage		= "Casino"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page casino MoneyBet'
block main-header
block main-container
	include ../components/page-casino
	include ../components/providers
block main-footer
block scripts 