extends ../config/template
append config
	-currentPage		= "Cockpit"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page cockpit MoneyBet'
block main-header
block main-container
	include ../components/page-gallos
block main-footer
block scripts 