extends ../config/template
append config
	-currentPage		= "Responsible Gaming"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page Responsible Gaming MoneyBet'
block main-header
block main-container
	include ../components/link-juegoresponsable
block main-footer
block scripts 