extends ../config/template
append config
	-currentPage		= "Fairness & RNG Testing Methods"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page Fairness & RNG Testing Methods MoneyBet'
block main-header
block main-container
	include ../components/link-juegojusto
block main-footer
block scripts 