extends ../config/template
append config
	-currentPage		= "Dispute Resolution"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page dispute resolution MoneyBet'
block main-header
block main-container
	include ../components/link-politicareclamos
block main-footer
block scripts 