extends ../config/template
append config
	-currentPage		= "Privacy Policy"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page Privacy Policy MoneyBet'
block main-header
block main-container
	include ../components/link-privacidad
block main-footer
block scripts 