extends ../config/template
append config
	-currentPage		= "Signup"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page signup MoneyBet'
block main-header
block main-container
	include ../components/page-registrarse
block main-footer
block scripts 