extends ../config/template
append config
	-currentPage		= "House Rules"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page house rules MoneyBet'
block main-header
block main-container
	include ../components/link-reglascasa
block main-footer
block scripts 