extends ../config/template
append config
	-currentPage		= "Sport Rules"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Page sports rules Moneybet'
block main-header
block main-container
	include ../components/section-reglasDeportes
block main-footer
block scripts 
