extends ../config/template
append config
	-currentPage		= "Casino rules"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page casino rules MoneyBet'
block main-header
block main-container
	include ../components/link-reglascasino
block main-footer
block scripts 