extends ../config/template
append config
	-currentPage		= "Terms and conditions"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Page terms and conditions MoneyBet'
block main-header
block main-container
	include ../components/link-terminos
block main-footer
block scripts 