div(class="afiliados")
    div(class="afiliados__container")
        h1 Afiliates 
        p Ous products
        div(class="afiliados__container__content")
            include ../config/mixins/afiliados