div(class="casino")
    include ../config/mixins/casino-banner
    div(class="casino__content")
        p To play for real money, simply Log On, Click on the “Online Casino” link and select on your favorite game.
        p Games featured at the The Game’ Casino include:
    div(class="casino__container" id='tnscasino')
        include ../config/mixins/casino-games