div(class="casino")
    include ../config/mixins/casino-banner
    div(class="casino__content")
        p To play for real money, log in, click on CASINO and select your favorite game.
        p Some of the featured games are:
    div(class="casino__container" id='tnscasino')
        include ../config/mixins/casino-games