section(class="section-footer")
    h1  POLÍTICA ANTI LAVADO DE DINERO Y VERIFICACIÓN DE IDENTIDAD DEL CLIENTE (“PLD”/”KYC”)
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/aml.md
            a(class="btn btn__footer" href="/registrarse.html") REGISTRATE YA 