section(class="section-footer")
    h1  AUTOEXCLUSIÓN
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/autoexclusion.md
            a(class="btn btn__footer" href="/registrarse.html") REGISTRATE YA 