section(class="section-footer")
    h1  TÉRMINOS Y CONDICIONES
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/terminos.md
            a(class="btn btn__footer" href="/registrarse.html") REGISTRATE YA