section(class="section-footer")
    h1  POLÍTICA DE PRIVACIDAD
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/privacidad.md
            a(class="btn btn__footer" href="/registrarse.html") REGISTRATE YA 