div(class="live-wagering")
    div(class="live-wagering__container")
        h1(class="live-wagering__container__h1") LIVE WAGERING
        <iframe src="https://slive.jazzsports.ag//live/?skin=perubet#!/home" width="100%" height="900" frameborder="0"> </iframe>