div(class="login")
    div(class="login__container")
        h1 CLASSIC
        div(class="login__container__flex")
            div(class='login__container__flex__form')
                include ../config/mixins/login-classic
            div(class='login__container__flex__img')
                img(src="assets/img/login/player_login.png", alt="image")