section(class="container-registro ed-container")
    div(class="container-registro__form ed-item s-1 l-50")
        iframe(class="container-registro__iframe" src="https://betslip.moneybet.ag/sign-up")
    div(class="ed-item s-0 l-50")
        img(src="assets/img/sign and register/fondo--formulario.jpg", alt="image")