div(class="parlay")
    div(class="parlay__container")
        h1 PARLAY CALCULATOR
        div(class="parlay__container__content")
            include:markdown-it(html) ../md/parlayCalc-text.md
        <iframe scrolling="no" class="embed-responsive-item" src="https://media.betimages.com/media/bettools/parlay-en.html" allowfullscreen=""></iframe>
        include:markdown-it(html) ../md/parlayCalc.md