div(class='referrals')
    div(class='referrals__container')
        h1 A FRIEND OF YOUR IS A FRIEND OF OURS
        div(class='referrals__container__flex')
            img(src="assets/img/login/FRIEND.jpg", alt="image", width="645" height="685")
            <iframe style="width: 100%; height: 750px;" frameborder="0" src="https://agentproducts.jazzsports.com/#/contact-us/form?Token=NzhkZGZiOTAwZDdhOWQwYzNkZWNkNGFhZjA0ZWRiNTQ1YTQyZTljNTRhZTMwNzkzYzZjNjRlY2QxZDY0N2M4YTM2N2UwOWJlODM5MGQ0YjZjOTE2NDY0YmYyMTZiYTkzZGIyM2FlMzE0Zjk4OGExZjAzNjQ4NzhjYmU0NzYxNTdiZGJjZDI1OWFiNDE4NTAyOWU2MGQxNGQyMGJmNjY0MWZhOTg0Yjg1ZWM5YWE0NmJkNzYyYTY1MWE5ZTJhMDA1NzI0Y2RiN2IxN2E2OGZhODI5NTg3NjU5NjE2NTBjMmNlYjdiZWExNmFhNjZmODllMGZjNGMxMTE2MGRjMjg4&amp;Site=betmylines.com&amp;Theme=Light"></iframe>