div(class="rulesRegulations")
    div(class="rulesRegulations__container")
        h1 RULES AND REGULATIONS
        include ../config/mixins/rulesRegulations-table
        include:markdown-it(html) ../md/rules-regulations.md