script.
    /**********************************************************************************************/
    /**
    * /MarvinG 09/16/2017 => Get url params and create a cookie with these values
    * @param name
    * @param url
    */
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function setCookieValues(cname, cvalue, exdays,cdomain) {
        
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=" + cdomain + ";path=/;SameSite=Lax;Secure;";
    }
    function createCookie() {
        var domain = window.location.host;
        domain = '.'+domain.replace('www.','');
        deleteAffiliateCookies(domain);
        if (getParameterByName('affiliateCode') != null)
        {
            setCookieValues("affiliateCode", getParameterByName('affiliateCode'), 30, domain);
        }
        if (getParameterByName('bannerCode') != null)
        {
            setCookieValues("bannerCode", getParameterByName('bannerCode'), 30, domain);
        }
        if (getParameterByName('campaign') != null)
        {
            setCookieValues("campaign", getParameterByName('campaign'), 30, domain);
        }
    }
    
    /*
        Jairo RV 10/01/2018  Add function to remove affiliate cookie if jazz sms cookie exists
    */
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function deleteAffiliateCookies(domain) {
        var affiliateCookie = getCookie("affiliateCode");
        if(affiliateCookie!="") {
            setCookieValues("affiliateCode",affiliateCookie,-1,domain)
        }
    }
    
    //call main function
    console.log("Prueba")
    console.log("BC", getParameterByName('bannerCode'))
    console.log("AC", getParameterByName('affiliateCode'))
    createCookie();