nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			picture
				source(media="(min-width: 350px)", srcset='assets/img/logo/logo.png')
				img(src='assets/img/logo/logo.png', alt='logo', class='top-nav__logo' width="209" height="58")
		ul(class='top-nav__menu')
			include ../config/mixins/top-menu
		div(class='top-nav__btn')
			div
				a(class='btn' href='#') CLASIC
				a(class='btn btn__betslip' href='#') BETSLIP
			div(class='btn__telefono')
				div(class='btn__telefono__icon-telefono'): img(src="assets/img/iconos/icon cel.png", alt="telefono")
				span(class='btn__telefono__telefono__number') 800 256 4603
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r' aria-label="hamburger")
			span.hamburger-box
				span.hamburger-inner
