nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			picture
				source(media="(min-width: 350px)", srcset='assets/img/logo/logo.svg' width="600" height="100")
				img(src='assets/img/logo/logo.svg', alt='logo', class='top-nav__logo' width="600" height="100")
		ul(class='top-nav__menu')
			include ../config/mixins/top-menu
		div(class='top-nav__btn')
			div
				a(class='btn' href='login-classic.html') CLASSIC
				a(class='btn btn__betslip' href='login-betslip.html') BETSLIP
			div(class='btn__telefono')
				div(class='btn__telefono__icon-telefono'): img(src="assets/img/iconos/icon cel.svg", alt="telefono" width="9" height="16")
				span(class='btn__telefono__telefono__number') 800 256 4603
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r' aria-label="hamburger")
			span.hamburger-box
				span.hamburger-inner
		div(class='top-nav-mob')
			include ../config/mixins/top-menu-mob
