extends ../config/template
append config
	-currentPage		= "Afiliate"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page afiliate of Betmylines'
block main-header
block main-container
	include ../components/afiliados
block main-footer
block scripts 