extends ../config/template
append config
	-currentPage		= "aml"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de aml de MoneyBet'
block main-header
block main-container
	include ../components/link-aml
block main-footer
block scripts 