extends ../config/template
append config
	-currentPage		= "Autoexclusion"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de autoexclusion de MoneyBet'
block main-header
block main-container
	include ../components/link-autoexclusion
block main-footer
block scripts 