extends ../config/template
append config
	-currentPage		= "Casino"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page casino of Betmylines'
block main-header
block main-container
	include ../components/casino
block main-footer
block scripts 