extends ../config/template
append config
	-currentPage		= "Deportes"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina deportes de MoneyBet'
block main-header
block main-container
	include ../components/page-deportes
block main-footer
block scripts 