extends ../config/template
append config
	-currentPage		= "caballos"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page horses of Betmylines'
block main-header
block main-container
	include ../components/caballos
block main-footer
block scripts 
