extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page home of Betmylines'
block main-header
block main-container
	include ../components/home-banner
	include ../components/home-joinUs
	include ../components/home-games
block main-footer
block scripts 