extends ../config/template
append config
	-currentPage		= "Juego justo"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de juego justo de MoneyBet'
block main-header
block main-container
	include ../components/link-juegojusto
block main-footer
block scripts 