extends ../config/template
append config
	-currentPage		= "juego responsable"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de juego responsable de MoneyBet'
block main-header
block main-container
	include ../components/link-juegoresponsable
block main-footer
block scripts 