extends ../config/template
append config
	-currentPage		= "live-wagering"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page of live-wagering'
block main-header
block main-container
	include ../components/live-wagering
block main-footer
block scripts 