extends ../config/template
append config
	-currentPage		= "loginBetslip"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page login betslip of Betmylines'
block main-header
block main-container
	include ../components/login-betslip
block main-footer
block scripts 