extends ../config/template
append config
	-currentPage		= "loginClassic"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page login classic of Betmylines'
block main-header
block main-container
	include ../components/login-classic
block main-footer
block scripts 