extends ../config/template
append config
	-currentPage		= "nosotros"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de nosotros de MoneyBet'
block main-header
block main-container
	include ../components/link-nosotros
block main-footer
block scripts 