extends ../config/template
append config
	-currentPage		= "parlay-calc"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page parlay-calc of Betmylines'
block main-header
block main-container
	include ../components/parlayCalc
block main-footer
block scripts 