extends ../config/template
append config
	-currentPage		= "politica de reclamos"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de politica de reclamos de MoneyBet'
block main-header
block main-container
	include ../components/link-politicareclamos
block main-footer
block scripts 