extends ../config/template
append config
	-currentPage		= "politica de privacidad"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de politica de privacidad de MoneyBet'
block main-header
block main-container
	include ../components/link-privacidad
block main-footer
block scripts 