extends ../config/template
append config
	-currentPage		= "referrals"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page referrals of Betmylines'
block main-header
block main-container
block main-footer
block scripts 