extends ../config/template
append config
	-currentPage		= "reglas casino"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de reglas casino de MoneyBet'
block main-header
block main-container
	include ../components/link-reglascasino
block main-footer
block scripts 