extends ../config/template
append config
	-currentPage		= "rules-regulations"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page rules-regulations of Betmylines'
block main-header
block main-container
	include ../components/rules-regulations
block main-footer
block scripts 