extends ../config/template
append config
	-currentPage		= "sports"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page sports of Betmylines'
block main-header
block main-container
	include ../components/sports
block main-footer
block scripts 