extends ../config/template
append config
	-currentPage		= "teaser-calc"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page teaser-calc of Betmylines'
block main-header
block main-container
	include ../components/teaser-calc
block main-footer
block scripts 