extends ../config/template
append config
	-currentPage		= "terms-conditions"
	-siteName			= 'Betmylines' 
	-content			= 'content'
	-pageDescription	= 'Page terms-conditions of Betmylines'
block main-header
block main-container
	include ../components/terminosCondiciones
block main-footer
block scripts 