extends ../config/template
append config
	-currentPage		= "terminos"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de terminos de MoneyBet'
block main-header
block main-container
	include ../components/link-terminos
block main-footer
block scripts 