-for(i = 0; i < enfooterMenu.length; i++)
        //- -if(i == enfooterMenu.length-1)
        //-         ul(class="s-cols-1")
        //-             -for(j = 0; j < enfooterMenu[i].footerColum.length; j++)
        //-                 li: a(class="bottom-nav__anchor", href=`${enfooterMenu[i].footerColum[j].src}`)= enfooterMenu[i].footerColum[j].text
        //-             li: div(class="bottom-nav__socialicon")
        //-                 p(class="bottom-nav__title") CONNECT
        //-                 div(class="bottom-nav__socialicons")
        //-                     //- include ./mixin-socialicon
        //- -else 
        ul(class="s-cols-1")
            -for(j = 0; j < enfooterMenu[i].footerColum.length; j++)
                li: a(class="bottom-nav__anchor", href=`${enfooterMenu[i].footerColum[j].src}`)= enfooterMenu[i].footerColum[j].text