mixin afiliados(title, url, img)
    a(class="afiliados__container__content__card" href=`${url}`) 
        div(class="afiliados__container__content__card__flex")
            div(class="afiliados__container__content__card__flex__text")
                h3(class="afiliados__container__content__card__flex__text__title")= title
            div(class="afiliados__container__content__card__flex__img"): img(src=`${img}`, alt="image" width="122" height="161")

-for (var i = 0; i < afiliados.length; i++)
    -var d = afiliados[i]
    +afiliados(d.title, d.url, d.img)
