<table>
  <thead>
    <tr>
      <th></th>
      <th>A TRACKS</th>
      <th>B TRACKS</th>
      <th>C TRACKS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PK 3 MAX PAYOUTS</td>
      <td>5000/1</td>
      <td>2500/1</td>
      <td>1000/1</td>
    </tr>
    <tr>
      <td>PK 4 MAX PAYOUTS</td>
      <td>7500/1</td>
      <td>5000/1</td>
      <td>2000/1</td>
    </tr>
    <tr>
      <td>PK 5 MAX PAYOUTS</td>
      <td>10000/1</td>
      <td>7500/1</td>
      <td>3000/1</td>
    </tr>
    <tr>
      <td>PK 6 MAX PAYOUTS</td>
      <td>15000/1</td>
      <td>10000/1</td>
      <td>4000/1</td>
    </tr>
    <tr>
      <td>TOTAL PAYOUT LIMIT</td>
      <td>$25000</td>
      <td>$15000</td>
      <td>$10000</td>
    </tr>
  </tbody>
</table>