<table>
  <thead>
    <tr>
      <th></th>
      <th>A TRACKS</th>
      <th>B TRACKS</th>
      <th>C TRACKS</th>
      <th>GREYHOUND</th>
      <th>INTERNALTIONAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>W/P/S LIMITS</td>
      <td>$1000</td>
      <td>$250</td>
      <td>$100</td>
      <td>$100</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>GIMMICKS LIMITS</td>
      <td>$100</td>
      <td>$50</td>
      <td>$20</td>
      <td>$20</td>
      <td>$50</td>
    </tr>
  </tbody>
</table>