mixin bannerIndex(bg, img, txt1, txt2)
    div(class='banner-index')
        div(class='banner-index__content')
            div(class='banner-index__content__text')
                p(class='banner-index__content__text__primary')= txt1
                p= txt2
            div(class='banner-index__content__img'): img(src=`${img}`, alt="image" width="628" height="445")
-for (var i = 0; i < bannerIndex.length; i++)
    -var d = bannerIndex[i]
    +bannerIndex(d.bg, d.img, d.txt1, d.txt2) 