<div class="login__container__flex__form__content">
    img(class="login__container__flex__form__content__logo" src="assets/img/logo/logo.png", alt="image logo")
    <form class="login__container__flex__form__content__body" name="Loginform" method="post" action="//wager.betmylines.com/DefaultLogin.aspx">
        <input type="hidden" name="siteID" id="siteID" value="361">
        <input type="hidden" name="errorURL" value="//www.betmylines.com/?Wrong-User-Password">
        <div class="login__container__flex__form__content__body__group">
            <label class="login__container__flex__form__content__body__group__label" for="exampleInputEmail3">Account</label>
            <input type="text" class="login__container__flex__form__content__body__group__input" placeholder="username" name="account" id="account" required="">
        </div>
        <div class="login__container__flex__form__content__body__group">
            <label class="login__container__flex__form__content__body__group__label" for="exampleInputPassword3">Password</label>
            <input type="password" class="login__container__flex__form__content__body__group__input" placeholder="password" name="password" id="password" required="">
        </div>
        <div class="login__container__flex__form__content__body__group">
            <button type="submit" class="btn btn__login" name="input-button">LOGIN</button>
        </div>
    </form>
</div>
