<table>
    <tbody>
    <tr>
        <th>1.</th>
        <td>
        <p>All transactions will be in USD.</p>

        </td>
    </tr>
    <tr >
        <th>2.</th>
        <td>
        <p>All data and information is confidential, and will not be given to others.</p>
        </td>

    </tr>

    <tr >
        <th>3.</th>
        <td>
        <p>Bet My Line reserves the right to cancel any and all wagers if there is any evidence of fraud, or wrong doing. </p>
        </td>

    </tr>
    <tr>

        <th>4.</th>
        <td>
        <p>If a phone conversation is lost before a read back and confirmation from you the player then it will be no action / void. In this situation we suggest you call back A.S.A.P. or contact your agent.</p>
        </td>
    </tr>

    <tr>
        <th>5.</th>

        <td>
        <p>It is a clients responsibility to check their figures each week.</p>
        </td>
    </tr>
    <tr>

        <th>6.</th>
        <td>
        <p>In the event where a wager is placed on an incorrect or mistaken line due to human or computer error the wager will result in no action. (Example: A favorite mistakenly listed as an underdog or vise versa will result in no action). If you are the 1st player to call in and report a mistaken line, you will receive a free $25 free play.</p>

        </td>
    </tr>
    <tr>

        <th>7.</th>
        <td>
        <p>All clients are responsible for their passwords, and any wagers placed with their passwords.</p>
        </td>

    </tr>
    <tr>

        <th>8.</th>
        <td>
        <p>Each wager must be confirmed using your wagering password. If your wager is not confirmed it will result in no action. (It is the clients responsibility to listen carefully to the final read back. The final read back is what the client is confirming to be the correct wager).</p>
        </td>

    </tr>

    <tr>
        <th>9.</th>
        <td>
        <p>It is your responsibility to check your wagers and your pending plays. You should note them and document them daily.</p>
        </td>
    </tr>

    <tr>
        <th>10.</th>
        <td>
        <p>In the event a client would like to cancel or change a play, then it must be within 30 minutes from the time the wager was placed.</p>
        </td>
    </tr>
    <tr>
        <th>11.</th>

        <td>
        <p>You may not cancel a wager if the line has moved.</p>
        </td>
    </tr>
    <tr>
        <th>12.</th>

        <td>

        <p>All phone calls to betmyline are tape recorded. In the case of any dispute, we will listen to the tape recordings and BML management will make the final decision.</p>
        </td>
    </tr>
    <tr>
        <th>13.</th>

        <td>
        <p>All minimum and maximum wager amounts are set by your agent. Bet My Line will have the final decision in the increasing or decreasing of wager limits and wager amounts.</p>
        </td>

    </tr>
    <tr>
        <th>14.</th>

        <td>
        <p> Bet My Line will not tolerate any client playing line moves or beating the spread over time. We do not cater to this type of business. Any player BML feels is at fault for this then the wager can be cancelled or reduced. You may also be terminated if management feels it needs be.</p>
        </td>
    </tr>

    <tr>
        <th>15.</th>
        <td>
        <p>Management reserves the right to limit, and / or refuse any bet without further explanation.</p>

        </td>
    </tr>
    <tr>

        <th>16.</th>
        <td>
        <p>Each customer is required to give their personal account number and pin code before placing any wager.</p>
        </td>
    </tr>

    <tr>
        <th>17.</th>

        <td>
        <p>It is the clients responsibility to keep their username and passwords secure. All wagers placed in the account will be binding.</p>
        </td>
    </tr>
    <tr>
        <th>18.</th>

        <td>

        <p>Please check wager guide or wager type on Betmyline.com home page for more in depth details on all sports, casino, and racebook.</p>
        </td>
    </tr>
    <tr>
        <th>19.</th>
        <td>

        <p>Las Vegas rules apply for anything not mentioned here.</p>
        </td>
    </tr>
    </tbody>
</table>