mixin topnavMenu(text, icon, src)
    li(class='top-nav-mob__li')
        img(class='top-nav-mob__img' src=`${icon}`, alt="icon" width="9" height="16")
        a(href=`${src}`, class='top-nav-mob__anchor')= text
-for (var i = 0; i < topnavmenu.length; i++)
    -var d = topnavmenu[i]
    +topnavMenu(d.text, d.icon, d.src)