section(class="section-footer")
    h1  FAIR GAMING AND RNG
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/juegojusto.md
            a(class="btn btn__footer" href="/registrarse.html") Join Now