section(class="section-footer")
    h1  DISPUTE RESOLUTION
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/politicareclamos.md
            a(class="btn btn__footer" href="/registrarse.html") Join Now