section(class="section-footer")
    h1  IBETSPORTS CARES FOR ITS PLAYERS
    div(class="footer")
        div(class="footer__container")
            include:markdown-it(html) ../md/footer/juegoresponsable.md
            a(class="btn btn__footer" href="/registrarse.html") Join Now