section(class="section-gallos")
    h1 COCKPIT
    div(class="gallos")
        div(class="gallos__container")
            include:markdown-it(html) ../md/content-gallos.md
            div(class="video")
                iframe(src="https://player.vimeo.com/video/644702603" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
            a(class="btn btn__gallos" href="/registrarse.html") Signup